@font-face {
	font-family: "WL";
	src: url("Resources/Warioland4chmc-VApe.ttf");
}


/* width */
::-webkit-scrollbar {
	width: 15px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
	background: #E7E5DF;
  }
  
  /* Handle */
::-webkit-scrollbar-thumb {
	background: #08FF08;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #27c60b;
  }




.image {
	width: 800px;
	height: 400px;
	overflow: hidden;
	position: relative;
	padding-left: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2%;
}


body {
	background-image: url("Resources/img/background.png");

}



.header {
	text-align: center;
	color: #E7E5DF;
	font-family: "WL";

}



a:link {
	color: #E7E5DF;
	text-decoration: none;
}

a:visited {
	color: #E7E5DF;
	text-decoration: none;
}

a:hover {
	color: #08FF08;
}

.left-column {
	font-size: 34px;
	font-family: "WL";
	text-align: center;
	padding: 10px;
	border: 3px solid #E7E5DF;
	margin-right: 2%;
	margin-top: 5%;
	margin-left: 2%;
	position: relative;
}

.center-column {
	font-size: 20px;
	padding: 10px;
	border: 3px solid #E7E5DF;
	margin-right: 2%;
	margin-top: 2%;
	margin-left: 2%;
	position: relative;
}

.box {
	padding: 5px;
	border: 3px solid #E7E5DF;
	margin-right: 2%;
	margin-top: 2%;
	margin-left: 2%;
	position: relative;
}

.text {
	color: #E7E5DF;
	font-family: "Wl";
	text-align: left;
	padding: 10px;
}

.text1 {
	color: #E7E5DF;
	font-size: 40px;
	font-family: "WL";
	padding: 10px;
	text-align: center;
}

.text2 {
	color: #E7E5DF;
	font-size: 30px;
	font-family: "WL";
	padding: 10px;
	text-align: center;
}