@font-face {
	font-family: "WL";
	src: url("Resources/Warioland4chmc-VApe.ttf");
}

.fling-minislide {
	width: 800px;
	height: 400px;
	overflow: hidden;
	position: relative;

	padding-bottom: 2%;
    text-align: center;
}

.fling-minislide img {
	position: absolute;
	animation: fling-minislide 200s infinite;
	opacity: 0;
	max-height: 400px;
	max-width: 800px;
	border: 3px solid #E7E5DF;
	overflow: hidden;
    text-align: center;
}

@keyframes fling-minislide {
	0% {
		opacity: 1;
	}

	2.8% {
		opacity: 0;
	}
}

.fling-minislide img:nth-child(41) {
	animation-delay: 0s;
}

.fling-minislide img:nth-child(40) {
	animation-delay: 5s;
}

.fling-minislide img:nth-child(39) {
	animation-delay: 10s;
}

.fling-minislide img:nth-child(38) {
	animation-delay: 15s;
}

.fling-minislide img:nth-child(37) {
	animation-delay: 20s;
}

.fling-minislide img:nth-child(36) {
	animation-delay: 25s;
}

.fling-minislide img:nth-child(35) {
	animation-delay: 30s;
}

.fling-minislide img:nth-child(34) {
	animation-delay: 35s;
}

.fling-minislide img:nth-child(33) {
	animation-delay: 40s;
}

.fling-minislide img:nth-child(32) {
	animation-delay: 45s;
}

.fling-minislide img:nth-child(31) {
	animation-delay: 50s;
}

.fling-minislide img:nth-child(30) {
	animation-delay: 55s;
}

.fling-minislide img:nth-child(29) {
	animation-delay: 60s;
}

.fling-minislide img:nth-child(28) {
	animation-delay: 65s;
}

.fling-minislide img:nth-child(27) {
	animation-delay: 70s;
}

.fling-minislide img:nth-child(26) {
	animation-delay: 75s;
}

.fling-minislide img:nth-child(25) {
	animation-delay: 80s;
}

.fling-minislide img:nth-child(24) {
	animation-delay: 85s;
}

.fling-minislide img:nth-child(23) {
	animation-delay: 90s;
}

.fling-minislide img:nth-child(22) {
	animation-delay: 95s;
}

.fling-minislide img:nth-child(21) {
	animation-delay: 100s;
}

.fling-minislide img:nth-child(20) {
	animation-delay: 105s;
}

.fling-minislide img:nth-child(19) {
	animation-delay: 110s;
}

.fling-minislide img:nth-child(18) {
	animation-delay: 115s;
}

.fling-minislide img:nth-child(17) {
	animation-delay: 120s;
}

.fling-minislide img:nth-child(16) {
	animation-delay: 125s;
}

.fling-minislide img:nth-child(15) {
	animation-delay: 130s;
}

.fling-minislide img:nth-child(14) {
	animation-delay: 135s;
}

.fling-minislide img:nth-child(13) {
	animation-delay: 140s;
}

.fling-minislide img:nth-child(12) {
	animation-delay: 145s;
}

.fling-minislide img:nth-child(11) {
	animation-delay: 150s;
}

.fling-minislide img:nth-child(10) {
	animation-delay: 155s;
}

.fling-minislide img:nth-child(9) {
	animation-delay: 160s;
}

.fling-minislide img:nth-child(8) {
	animation-delay: 165s;
}

.fling-minislide img:nth-child(7) {
	animation-delay: 170s;
}

.fling-minislide img:nth-child(6) {
	animation-delay: 175s;
}

.fling-minislide img:nth-child(5) {
	animation-delay: 180s;
}

.fling-minislide img:nth-child(4) {
	animation-delay: 185s;
}

.fling-minislide img:nth-child(3) {
	animation-delay: 190s;
}

.fling-minislide img:nth-child(2) {
	animation-delay: 195s;
}

.fling-minislide img:nth-child(1) {
	animation-delay: 200s;
}

body {
	background-color: black;

}



.header {
	text-align: center;
	color: #E7E5DF;
	font-family: "WL";

}



a:link {
	color: #E7E5DF;
	text-decoration: none;
}

a:visited {
	color: #E7E5DF;
	text-decoration: none;
}

a:hover {
	color: #08FF08;
}

.left-column {
	font-size: 34px;
	font-family: "WL";
	text-align: center;
	padding: 10px;
	border: 3px solid #E7E5DF;
	margin-right: 2%;
	margin-top: 5%;
	margin-left: 2%;
	position: relative;
}




.text {
	color: #E7E5DF;
	font-family: "Wl";
	text-align: left;
	padding: 10px;
}

.text1 {
	color: #E7E5DF;
	font-size: 30px;
	font-family: "WL";
	padding: 10px;
	text-align: center;
}